.app {
  height: 100vh;
}

.component {
  transition: width 2s, height 4s;
}

.visible {
  transform: translateY(0);
  opacity: 1;
}

.hidden {
  height: 10px;
}

.content {
  background-color: rgb(21, 24, 27);
}

.toggle-btn {
  transition: background-color 0.3s;
}

.toggle-btn:hover {
  /* Optional: Highlight on hover */
  opacity: 0.8;
}

.toggle-btn.active {
  /* Styles when button is active */
  background-color: #4caf50;
  color: white;
}

.slider-container {
  width: 100%;
  height: 750px; /* Updated height */
  overflow: hidden;
  position: relative;
}

.slides-div {
  display: flex;
  transition: transform 0.5s ease;
}

.img {
  width: 400px;
  height: 570px;
  margin: 0 10px;
}

.button {
  position: absolute;
  width: 240px;
  height: 370px;
  transition: 0.5s;
}

.button:hover {
  background-color: #4caf50;
}

.org {
  transition: width 1s; /* Apply transition to the width property over 1 second */
  width: 300px; /* Initial width */
  height: 61px;
}

/* Different widths for different images */
.move-right {
  width: 350px;
}

.two {
  width: 500px;
}

.three {
  width: 200px;
}

.four {
  width: 200px;
}

.five {
  width: 100px;
}
